<body hx-boost="true" hx-ext="response-targets" class="bg-body-secondary">
    <%- include('nav'); %>
    <%- include('content'); %>
    <%- include('footer'); %>
    <%- include('../components/CookieConsent'); %>
</body>