<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? `${title} | ` : ''%>HXStore</title>
    <script src="/js/theme.js"></script>
    <script src="/js/set-url.js"></script>
    <script src="/js/htmx-2.0.4.min.js"></script>
    <script src="/js/htmx-response-targets.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/sweetalert2@11.js"></script>
    <script src="/js/sweetalert2-config.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
</head>