<nav class="navbar fixed-top navbar-expand-sm bg-body-tertiary border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/"><span class="text-primary fw-bold">HX</span>Boilerplate</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks"
            aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLinks">
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-center" href="/query?show=zxc">Query</a>
                <a class="nav-link text-center" href="/get">Get</a>
                <a class="nav-link text-center" href="/form">Form</a>
                <%- include('../components/user') %>
            </div>
        </div>
    </div>
</nav>