<nav class="navbar fixed-top navbar-expand bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/" hx-boost="false"><span class="text-primary fw-bold">HX</span>Store</a>
        <div class="navbar-nav ms-auto">
            <a class="nav-link text-center material-icons user-select-none d-sm-none" href="/products">grid_view</a>
            <a class="nav-link text-center d-none d-sm-block" href="/products">Products</a>
            <div class="position-relative cursor-pointer user-select-none" data-bs-toggle="offcanvas" data-bs-target="#cart-wrapper" aria-label="Close">
                <a class="nav-link text-center material-icons">shopping_cart</a>
                <span id="cart-length" hx-preserve></span>
            </div>
            <%- include('../components/user') %>
        </div>
    </div>
</nav>