<main>
    <div class="container mt-2">
        <div class="row">
            <h1>
                <a class="back text-decoration-none text-primary" href="/products">&larr;</a>
                Cart Contents
            </h1>
        </div>
        <div id="cart-manager-content"></div>
    </div>
</main>