<main>
    <div class="container mt-2">
        <div class="row">
            <h1>
                <a class="back text-decoration-none text-primary" href="/products">&larr;</a>
                Checkout
            </h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-header">Cart</div>
                    <div id="cart-checkout-content" class="card-body p-0 pb-2"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-header">Customer</div>
                    <div class="card-body">
                        <%- include('../components/cartCheckoutUser'); %>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-header">Shipping</div>
                    <div class="card-body">
                        <%- include('../components/cartCheckoutShipping'); %>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-header">Summary</div>
                    <div id="cart-checkout-summary"></div>
                </div>
            </div>
        </div>
    </div>
</main>