<div class="container">
    <h1>Form test page</h1>
    <form hx-post="/hx/form" hx-target="#form-response" hx-on::after-request="event.detail.successful ? this.reset() : alert('Data incorrect')">
        <input class="form-control mb-1" type="text" name="name" placeholder="Name">
        <input class="form-control mb-1" type="email" name="email" placeholder="Email">
        <input class="form-control mb-1" type="password" name="password" placeholder="Password">
        <input class="btn btn-primary" type="submit"></input>
    </form>
    <p id="form-response"></p>
</div>