<main>
    <div class="container mt-2">
        <custom-element name="User">Custom Element Example</custom-element>
        <p>Vero, dolorem! Dolorem non pariatur quae necessitatibus voluptates ipsa rerum eos nobis obcaecati amet. Voluptates architecto, cum delectus illum vitae eum! Quas, esse molestias voluptas sint assumenda et quisquam nesciunt!</p>
        <blockquote>
            <i>"When working on a problem, I never think about beauty; I think only of how to solve the problem. But when I have finished, if the solution is not beautiful, I know that it is wrong."</i>
            <footer class="text-end mt-3">- Buckminster Fuller</footer>
        </blockquote>
    </div>
</main>