<main>
    <div class="container-fluid px-0">
        <div id="carouselBanner" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/products">
                        <img src="https://placehold.co/2000x800/ddd/999?text=Products" alt="Banner" class="w-100">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/products/category/electronics">
                        <img src="https://placehold.co/2000x800/ddd/333?text=Electronics" alt="Banner" class="w-100">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/products/category/print">
                        <img src="https://placehold.co/2000x800/ddd/fff?text=Print" alt="Banner" class="w-100">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container mt-2">
        <h1>Homepage</h1>
        <h2>
            <blockquote>
                <i>"When working on a problem, I never think about beauty; I think only of how to solve the problem. But when I have finished, if the solution is not beautiful, I know that it is wrong."</i>
                <footer class="text-end mt-3">- Buckminster Fuller</footer>
            </blockquote>
        </h2>
        <custom-element name="User">Custom Element Example</custom-element>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium quod iste temporibus id ipsa reprehenderit dolore, perferendis libero explicabo omnis blanditiis ducimus mollitia molestiae voluptas ad nesciunt reiciendis, voluptatibus magnam!</p>
        <p>Vero, dolorem! Dolorem non pariatur quae necessitatibus voluptates ipsa rerum eos nobis obcaecati amet. Voluptates architecto, cum delectus illum vitae eum! Quas, esse molestias voluptas sint assumenda et quisquam nesciunt!</p>
        <p>Expedita qui vel, suscipit similique corrupti cumque distinctio delectus quia! Mollitia praesentium quasi, voluptatum earum vitae totam consectetur repudiandae, fugiat sint voluptatem repellat recusandae modi aspernatur iusto aut perspiciatis sapiente.</p>
        <p>Cupiditate nihil illo natus quia, quas eos quae aperiam neque consequatur veritatis. Esse eos blanditiis similique tempora dolore! Itaque nam dolorum deleniti repellendus eaque delectus aut, corporis cum dignissimos ratione.</p>
        <p>Enim excepturi quos laudantium totam molestiae dicta dignissimos reiciendis dolorem distinctio in corporis debitis nulla doloribus tenetur alias aliquid, consequuntur beatae asperiores magni? Excepturi unde nam porro, accusamus quod quas.</p>
        <p>Laboriosam quibusdam repudiandae ea tempore quaerat obcaecati nesciunt fugit ipsam ipsa aliquid dolorem dolores, cupiditate ex consectetur eius earum facere dolorum. Sint, laborum velit ipsa blanditiis eaque sequi corporis natus!</p>
        <p>Voluptas veniam distinctio laborum a, cumque corporis mollitia blanditiis minus dignissimos ducimus et cum doloremque perferendis magnam aliquid explicabo quibusdam. Minima cupiditate repudiandae dicta quibusdam quaerat quis itaque, magni in.</p>
        <p>Ab culpa sed consequuntur maxime suscipit. Veniam illo assumenda voluptatibus enim quam iure temporibus molestias distinctio eveniet debitis, dolor voluptatum similique deserunt qui explicabo blanditiis tempore provident vero? Voluptate, omnis.</p>
        <p>Minima impedit praesentium iure doloribus architecto optio saepe necessitatibus eligendi eum qui, iusto perspiciatis, nam cum non quos, repudiandae ab earum enim quisquam. Harum, sequi quasi aliquam mollitia cupiditate optio?</p>
        <p>Nisi illo esse libero ipsum accusamus porro architecto, quidem, cumque nostrum voluptas sapiente assumenda adipisci odit facilis! Voluptate, repudiandae? Tenetur, maxime mollitia similique officia tempora eius veritatis provident vel! Accusantium!</p>
    </div>
</main>