<main>
    <div class="container mt-3" style="max-width: 320px;">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <%- include(`../components/${form}`); %>
            </div>
        </div>
    </div>
</main>