<main>
    <div class="container mt-2">
        <div class="row">
            <h1>
                <a class="back text-decoration-none text-primary">&larr;</a>
                <%= product.title %>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <%- include('../components/productForm'); %>
            </div>
            <div class="col-md-3 mt-2 mt-md-0 order-md-last">
                <%- include('../components/productSummary'); %>
            </div>
            <div class="col-md-6 mt-3 mt-md-0 mb-5">
                <%- include('../components/productOverview'); %>
            </div>
        </div>
    </div>
    <script>
        document.querySelector("a.back").href = sessionStorage.getItem('last-product-listing') ?? "/products";
    </script>
</main>
