<main>
  <div class="container mt-3">
    <h1>
      <a class="back text-decoration-none text-primary">&larr;</a>
      <%= title %>
    </h1>
    <div class="row">
      <%- include('../components/productsGrid'); %>
    </div>
  </div>
  <script>
      document.querySelector("a.back").href = location.pathname === "/products" ? "/" : "/products";
      sessionStorage.setItem('last-product-listing', location.pathname);
  </script>
</main>
