<!DOCTYPE html>
<html lang="en">

<%- include('head'); %>

    <body hx-boost="true">
        <%- include('nav'); %>
        <main class="container"><%- include(content, { query }) %></main>
        <%- include('footer'); %>
    </body>

</html>