<nav class="navbar navbar-expand-sm bg-body-tertiary border-bottom">
    <div class="container">
        <a class="navbar-brand" hx-get="/" hx-target="main" hx-push-url="true">😎</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks"
            aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLinks">
            <div class="navbar-nav ms-auto" hx-target="main">
                <a class="nav-link text-end" hx-push-url="true" hx-get="/query?show=zxc">Query</a>
                <a class="nav-link text-end" hx-push-url="true" hx-get="/get">Get</a>
                <a class="nav-link text-end" hx-push-url="true" hx-get="/form">Form</a>
            </div>
        </div>
    </div>
</nav>