---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Query">
    <main>
      <div class="container mt-3">
        <h1>Query test page</h1>
        <p>Showing: <strong>[todo]</strong></p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet dignissimos
          debitis vitae at soluta, ea eos qui, rem cum ex minima. Blanditiis ducimus
          sapiente qui, sequi explicabo harum rerum autem.
        </p>
        <form action="/query">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              name="show"
              placeholder="Query"
            />
            <input class="btn btn-primary" type="submit" value="Show" />
          </div>
        </form>
      </div>
    </main>
</Layout>
