---
import Head from "./Head.astro";
import Body from "./Body.astro";
import CookieConsent from "../components/CookieConsent.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <Body>
    <slot />
    <CookieConsent />
  </Body>
</html>
