---
const host = import.meta.env.VITE_HOST;
---

<a id="nav-auth" class="btn btn-primary btn-sm my-auto ms-sm-2" href="/login">Sign in</a>
<div id="nav-user" class="dropdown my-auto mx-auto ms-sm-2">
    <a id="dropdown-user" class="nav-link text-center dropdown-toggle d-sm-none" data-bs-toggle="dropdown" aria-expanded="false" href="#">User</a>
    <button id="dropdown-user-sm" class="material-icons notranslate btn btn-primary btn-sm rounded-5 p-1 dropdown-toggle d-none d-sm-block" type="button" data-bs-toggle="dropdown" aria-expanded="false">person</button>
    <ul class="dropdown-menu dropdown-menu-end" hx-get="/auth/user/menu" hx-trigger="load">
        <li><a class="dropdown-item disabled" href="#">Not signed in</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><div class="text-center px-2"><a id="nav-auth" class="btn btn-primary btn-sm my-auto w-100" href="/login">Sign in</a></div></li>
    </ul>
</div>
<style>
    #dropdown-user-sm::after {
        content: none;
    }
</style>
<script is:inline define:vars={{ host }} type="module">
    import EventsHandler from "/js/htmx-events-handler.js";

    updateNavUser();

    fetch(`${host}/auth`)
        .then((response) => response.json())
        .then((userData) => {
            sessionStorage.setItem("user-data", JSON.stringify(userData));
            updateNavUser();
        });

    EventsHandler.register({
        element: document.body,
        event: "htmx:afterSettle",
        handler: updateNavUser,
    });

    function updateNavUser(e) {
        const storedUserData = sessionStorage.getItem("user-data");
        if (!storedUserData) return;
        const userData = JSON.parse(storedUserData);
        if (userData.access > 0) {
            document.getElementById("nav-user").classList.remove("d-none");
            document.getElementById("nav-auth").classList.add("d-none");
            return;
        }
        document.getElementById("nav-user").classList.add("d-none");
        document.getElementById("nav-auth").classList.remove("d-none");
    }
</script>
