:root {
    background-color: var(--bs-dark);
    --navbar-height: 56px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: var(--navbar-height);
}

.cursor-pointer {
    cursor: pointer;
}

a.back {
    --offset: 0.5rem;
    margin-left: calc(var(--offset) * -1);
    padding-left: var(--offset);
    padding-right: 0;
    transition-duration: 200ms;
    transition-property: padding-left, padding-right;
    transition-timing-function: ease-in-out;
}

a.back:hover {
    padding-left: 0;
    padding-right: var(--offset);;
}

#cart-wrapper {
    max-width: calc(100% - 2rem);
}

.cart-product:hover .accordion-button {
    background-color: var(--bs-light-bg-subtle) !important;
}

.cart-product .accordion-button::after {
    display: none;
}

.cart-product .accordion-button:not(.collapsed) .sub-summary {
    display: none !important;
}

footer {
    margin-top: auto;
}