:root {
    background-color: var(--bs-dark);
    --navbar-height: 57px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: var(--navbar-height);
}

.cursor-pointer {
    cursor: pointer;
}

#cart-wrapper {
    padding-top: var(--navbar-height);
}

footer {
    margin-top: auto;
}