<div class="p-3 text-center text-secondary opacity-50 user-select-none">
    <h1 class="fs-4">Your cart is empty</h1>
    <div class="material-icons notranslate" style="font-size: 12rem;">
        remove_shopping_cart
    </div>
</div>