<div
  id="cart-wrapper"
  class="position-absolute top-0 end-0 h-100 bg-body-tertiary border-start collapse collapse-horizontal overflow-y-auto"
>
  <div class="bg-body-secondary border-bottom text-secondary">
    <span
      class="px-2 py-1 cursor-pointer user-select-none"
      data-bs-toggle="collapse"
      data-bs-target="#cart-wrapper"
      aria-expanded="false"
      aria-controls="cart-wrapper"
    >
      &raquo;
    </span>
  </div>
  <div class="d-flex flex-column flex-shrink-0 p-3 h-100" style="width: 280px">
    <button class="btn btn-primary">Checkout</button>
  </div>
  <div class="bg-body-secondary border-top text-secondary">
    <span
      class="px-2 py-1 cursor-pointer user-select-none"
      data-bs-toggle="collapse"
      data-bs-target="#cart-wrapper"
      aria-expanded="false"
      aria-controls="cart-wrapper"
    >
      &raquo;
    </span>
  </div>
</div>
