<div id="cart-wrapper" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" style="max-width: 90%;">
  <div
    id="cart-content"
    hx-get="/cart"
    hx-trigger="load"
    class="offcanvas-body p-0 d-flex flex-column bg-body-tertiary overflow-y-hidden">
  </div>
</div>