<div id="cart-wrapper" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  <div
    id="cart-content"
    hx-get="/cart"
    hx-trigger="load"
  >
  </div>
</div>