<div class="overflow-y-auto">
    <% cart.content.map((product, index) => { %>
        <%- include('./cartContentProduct', { product, index, length: cart.content.length }); %>
    <% }); %>
</div>
<% if (cart.content.length === 0) { %>
    <div class="p-3 text-center text-secondary opacity-50 user-select-none">
        <h1 class="fs-4">Your cart is empty</h1>
        <div class="material-icons" style="font-size: 12rem;">
            remove_shopping_cart
        </div>
    </div>
<% } else { %>
    <div class="p-3 pb-2 border-top text-center">
        <button class="btn btn-primary w-100 d-block" onclick="alert('TODO')">Checkout</button>
        <button class="btn btn-sm text-secondary mt-2 py-0" id="clear-cart" hx-delete="/cart" hx-confirm="Are you sure you want to clear your cart?" hx-target="#cart-content">Clear</button>
    </div>
    <script type="module">
    import EventsHandler from '/js/htmx-events-handler.js';

    EventsHandler.register([
        {
            element: document.getElementById('clear-cart'),
            event: 'htmx:afterRequest',
            handler: (e) => {
                htmx.ajax('GET', '/cart/length', '#cart-length')
            }
        }
    ]);
    </script>
<% } %>
<div class="bg-body-secondary border-top border-bottom text-secondary mt-auto">
    <span
      class="px-2 py-1 cursor-pointer user-select-none"
      data-bs-toggle="collapse"
      data-bs-target="#cart-wrapper"
      aria-expanded="false"
      aria-controls="cart-wrapper"
    >&raquo;</span>
</div>