<div class="d-flex">
    <div class="me-2">Subtotal</div>
    <div class="ms-auto fw-bold"><%= cart.costSubtotal.toFixed(2) %> zł</div>
</div>
<div class="d-flex">
    <div class="me-2">Shipping</div>
    <div class="ms-auto fw-bold">0.00 zł</div>
</div>
<div class="d-flex">
    <div class="me-2">Total</div>
    <div class="ms-auto fw-bold"><%= cart.costSubtotal.toFixed(2) %> zł</div>
</div>
<% if (cart.content.length > 0) { %>
<div class="text-center">
    <a class="btn btn-primary w-100 d-block mt-2" hx-post="/cart/order">Place an Order</a>
</div>
<% } %>