<div class="overflow-y-auto">
    <div><%= cart.error %></div>
    <% cart.content.reverse().map((product, index) => { %>
        <%- include('./cartContentProduct', { product, index, length: cart.content.length }); %>
    <% }); %>
</div>
<% if (cart.content.length === 0) { %>
    <%- include('./cartContentEmpty'); %>
<% } else { %>
    <div class="px-3 py-2 border-top text-end">
        <div class="d-flex">
            <div class="me-2">Subtotal</div>
            <div class="ms-auto fw-bold"><%= cart.costSubtotal.toFixed(2) %> zł</div>
        </div>
    </div>
    <div class="px-3 pb-2 text-center">
        <a class="btn btn-primary w-100 d-block" href="/cart/checkout">Checkout</a>
        <button class="btn btn-sm text-secondary mt-2 py-0" id="clear-cart" hx-delete="/cart" hx-confirm="Are you sure you want to clear your cart?" hx-target="#cart-content">Clear</button>
    </div>
    <script type="module">
    import EventsHandler from '/js/htmx-events-handler.js';

    EventsHandler.register([
        {
            element: document.getElementById('clear-cart'),
            event: 'htmx:afterRequest',
            handler: (e) => {
                htmx.ajax('GET', '/cart/length', '#cart-length');
                htmx.ajax(
                    'GET',
                    location.pathname,
                    {
                        select: "#product-price",
                        target: "#product-price",
                        swap: "outerHTML"
                    }
                );
            }
        }
    ]);

    document.querySelectorAll('.delete-product').forEach(button => {
        EventsHandler.register({
            element: button,
            event: 'htmx:afterRequest',
            handler: (e) => {
                htmx.ajax('GET', '/cart/length', '#cart-length');
                htmx.ajax(
                    'GET',
                    location.pathname,
                    {
                        select: "#product-price",
                        target: "#product-price",
                        swap: "outerHTML"
                    }
                );
            }
        });
    });
    </script>
<% } %>
<div class="bg-body-secondary border-top border-bottom text-secondary mt-auto cursor-pointer user-select-none"
    data-bs-dismiss="offcanvas"
    aria-label="Close">
    <span
      class="px-2 py-1"
    >&raquo;</span>
</div>