<div
  id="cart-wrapper"
  class="position-fixed z-1 top-0 end-0 h-100 collapse collapse-horizontal overflow-y-hidden"
>
<div class="d-flex vw-100 h-100">
    <div class="flex-fill cursor-pointer z-1"
      data-bs-toggle="collapse"
      data-bs-target="#cart-wrapper"
      aria-expanded="false"
      aria-controls="cart-wrapper"
    ></div>
    <div
      id="cart-content"
      hx-get="/cart"
      hx-trigger="load"
      class="d-flex flex-column z-1 h-100 bg-body-tertiary border-start shadow-lg"
      style="min-width: 20rem;">
    </div>
    <div class="position-fixed top-0 start-0 w-100 h-100 cart-overlay"></div>
  </div>
</div>
<style>
  #cart-wrapper .cart-overlay {
    background-color: #0000;
    transition: background-color 100ms;
  }
  #cart-wrapper.show .cart-overlay {
    background-color: #0004;
  }
</style>