<dialog class="border-0 border-top start-0 bottom-0 bg-body-tertiary position-fixed z-1">
  <p>
    This website uses cookies to ensure secure access to our services. These cookies are essential for authorizing
    your access and maintaining user sessions. By continuing to use our website, you agree to the use of necessary
    cookies. If you do not wish to have them stored on your device, please leave the site.
  </p>
  <div class="text-center">
    <button class="btn btn-primary" onclick="accept()">Accept</button>
  </div>
</dialog>
<script>
  if (!localStorage.getItem("cookie-consent")) {
    document.querySelector("dialog").show();

    function accept() {
      document.querySelector("dialog").close();
      localStorage.setItem("cookie-consent", "true");
    };
  };
</script>
