<% items.map(item => { %>
  <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-4 product-tile"><%- include('productsGridItem', { item }); %></div>
<% }) %>
<style>
  .bg-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(.19,1,.22,1)
  }
  .product-tile > a .shadow-gradient-bottom {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      transparent 50%
    );
    opacity: 0.7;
    transition-duration: 400ms;
  }
  .product-tile > a:hover .shadow-gradient-bottom {
    opacity: 0.5;
  }
  .product-tile > a .title {
    transition-duration: 200ms;
    color: var(--bs-light);
    text-shadow: 0 2px 3px rgb(0 0 0 / 75%);
  }
  .product-tile > a:hover .title {
    scale: 1.1;
    transition-timing-function: cubic-bezier();
  }
  .product-tile > a:hover .bg-cover {
    scale: 1.05;
  }
</style>
