<form id="product-form" action="/products/<%= product.name %>" hx-trigger="change delay:1000ms" hx-params="none" disabled>
    <% product.parameters.map(input => { %>
        <%- include('productFormInput', { input }); %>
    <% }) %>
</form>
<script type="module">
    import EventsHandler from '/js/htmx-events-handler.js';

    const form = document.getElementById('product-form');

    EventsHandler.register([
        {
            element: form,
            event: 'change',
            handler: (e) => {
                document.getElementById("add-to-cart").disabled = true;
                [...form].forEach(element => element.disabled = true);
                e.target.disabled = false;
                e.target.focus();
            }
        },
        {
            element: form,
            event: 'htmx:configRequest',
            handler: (e) => {
                e.detail.path = `/products/<%= product.name %>/${[...e.target].map(input => input.value).join("/")}`;
            }
        },
        {
            element: form,
            event: 'submit',
            handler: (e) => {
                e.preventDefault();
            }
        }
    ]);
</script>