<form id="product-form" hx-get="/products/<%= product.name %>" hx-trigger="change delay:1000ms" hx-target="body" class="rounded-2 p-3 pt-2 bg-body-tertiary">
    <% product.parameters.map((input, i) => { %>
        <%- include('productFormInput', { input, i }); %>
    <% }) %>
</form>
<script type="module">
    import EventsHandler from '/js/htmx-events-handler.js';

    const form = document.getElementById('product-form');

    EventsHandler.register([
        {
            element: form,
            event: 'change',
            handler: (e) => {
                document.getElementById("add-to-cart").disabled = true;
            }
        },
        {
            element: form,
            event: 'htmx:configRequest',
            handler: (e) => {
                e.detail.headers['x-form-request'] = 'true';
            }
        },
        {
            element: form,
            event: 'submit',
            handler: (e) => {
                e.preventDefault();
            }
        }
    ]);
</script>