<div id="product-price" class="d-flex">
    <div class="me-2">Price</div>
    <div class="ms-auto text-end">
        <div><%= product.price.toFixed(2) %>&nbsp;zł</div>
        <% if (product.quantity > 1) { %>
            <div class="text-muted mt-n1">
                <small>p/u&nbsp;<%= (product.price / product.quantity).toFixed(2) %>&nbsp;zł</small>
            </div>
        <% }; %>
    </div>
</div>
<div id="product-weight" class="d-flex">
    <div class="me-2">Weight</div>
    <div class="ms-auto"><%= product.weight.toFixed(2) %>&nbsp;kg</div>
</div>
<button id="add-to-cart" class="btn btn-primary w-100 mt-2" hx-post="/cart/products" hx-target="#cart-content">Add to cart</button>
<script type="module">
    import EventsHandler from '/js/htmx-events-handler.js';

    const form = document.getElementById('product-form');

    EventsHandler.register([
        {
            element: document.getElementById('add-to-cart'),
            event: 'htmx:configRequest',
            handler: (e) => {
                e.detail.parameters.product = '<%= product.name %>';
                e.detail.parameters.configPath = [...form].map(input => input.value).join("/");
            }
        },
        {
            element: document.getElementById('add-to-cart'),
            event: 'htmx:afterRequest',
            handler: (e) => {
                htmx.ajax('GET', '/cart/length', '#cart-length');
                const cartWrapper = document.getElementById('cart-wrapper');
                const cartWrapperCollapse = bootstrap.Collapse.getOrCreateInstance(cartWrapper);
                cartWrapperCollapse.show();
                htmx.ajax(
                    'GET',
                    location.pathname,
                    {
                        select: "#product-price",
                        target: "#product-price",
                        swap: "outerHTML"
                    }
                );
            }
        }
    ]);
</script>