<div class="mb-2<%= input.enabled === false ? ' d-none' : '' %>">
    <label for="product-form-input-<%= input.name %>" class="form-label mb-1"><%= input.title %></label>
    <%- include(`productFormInput-${input.type}`); %>
</div>