<a href="<%=item.link%>" class="text-decoration-none">
  <div
    class="bg-cover h-100 overflow-hidden position-relative"
    style="background-image: url(<%=item.imageUrl%>)"
  >
    <div
      class="d-flex flex-column justify-content-end mt-5 pt-5 px-0"
    >
      <h2
        class="mt-5 mb-4 mx-2 pb-0 pt-3 display-7 lh-1 fs-4 fw-bold rounded-0 text-center text-primary"
      >
        <%=item.title%>
      </h2>
      <div
        class="position-absolute"
      ></div>
    </div>
  </div>
</a>
