<select name="<%= input.name %>" id="product-form-input-<%= input.name %>" class="form-select">
    <% input.options.map(option => { %>
        <option value="<%= option.value %>"><%= option.title %></option>
    <% }) %>
</select>