<div class="row mx-n1">
    <% product.galleryUrls?.map(src => { %>
        <div class="col-3 px-1">
            <img src="<%= src %>" alt="" class="w-100 rounded-1">
        </div>
    <% }) %>
</div>
<%= product.description %>