<nav class="navbar navbar-expand-sm bg-body-tertiary border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/">😎</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks"
            aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLinks">
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-end" href="/query?show=zxc">Query</a>
                <a class="nav-link text-end" href="/get">Get</a>
                <a class="nav-link text-end" href="/form">Form</a>
                <a class="nav-link text-end"><%- include('user', { user: { email: 'anonymus' } }); %></a>
            </div>
        </div>
    </div>
</nav>