<h1>Query test page</h1>
<p>Showing: <strong><%- query.show %></strong></p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet dignissimos debitis vitae at soluta, ea eos qui, rem cum ex minima. Blanditiis ducimus sapiente qui, sequi explicabo harum rerum autem.</p>
<form hx-get="/query" hx-target="main" hx-push-url="true">
    <div class="input-group">
        <input class="form-control" type="text" name="show" placeholder="Query">
        <input class="btn btn-primary" type="submit" value="Show"></input>
    </div>
</form>