<form hx-post="/auth/login" hx-swap="outerHTML">
    <input class="form-control mb-1" type="email" name="email" placeholder="Email" autofocus>
    <input class="btn btn-primary" type="submit"></input>
</form>