<form action="/auth/login/token" method="POST" hx-target-error="#error">
    <input class="form-control mb-1" type="email" name="email" placeholder="Email" value="<%= email %>">
    <input class="form-control mb-1" type="text" name="token" placeholder="Token" autofocus>
    <div id="error"></div>
    <input class="btn btn-primary" type="submit"></input>
</form>