<form action="/auth/login" method="POST">
    <input class="form-control mb-1" type="email" name="email" placeholder="Email" value="<%= email %>">
    <input class="form-control mb-1" type="text" name="token" placeholder="Token" autofocus>
    <input class="btn btn-primary" type="submit"></input>
</form>