<form action="/auth/login" method="POST" hx-target-error="#error">
    <input class="form-control mb-1" type="email" name="email" placeholder="Email" autofocus>
    <div id="error" class="alert alert-danger d-empty-none py-1"></div>
    <input class="btn btn-primary" type="submit"></input>
</form>