<span><%= user %></span>
<a class="nav-link text-end" href="/login">Login</a>
<form action="/api/auth" method="DELETE">
    <input class="nav-link text-end" type="submit" value="Logout"></input>
</form>