<% if (!user.access) { %>
    <a class="btn btn-primary btn-sm my-auto" href="/login">Login</a>
<% } else { %>
    <form action="/api/auth" method="DELETE">
        <input class="nav-link text-end" type="submit" value="Logout"></input>
    </form>
<% } %>